@import "primeicons/primeicons.css";

#root {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  text-align: center;
}

.App {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: var(--surface-100);
  color: black;
}